{% extends 'index.html' %}
{% block head %}
<title>Контакты</title>
<link rel="stylesheet" href="/static/css/contacts.css">

{% endblock %}

{% block content %}
<div class='contacts'>
    <div><p> График работы: круглосуточно, без выходных</p>
        <p>Местоположение: Лентварис, Литва</p></div>
    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d87876.41223601744!2d24.946527748498312!3d54.63538809731827!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x46ddf2a5684cd7bd%3A0xa00d18ec9ba8130!2sLentvaris%2C%20Trak%C5%B3%20r.%20sav.!5e0!3m2!1slt!2slt!4v1677955379302!5m2!1slt!2slt"
            width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy"
            referrerpolicy="no-referrer-when-downgrade"></iframe>
</div>
{% endblock %}